/* body is the whole page */
body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: black;
    /* margin: 0rem; */
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    margin: auto;
    /* min-width: 50%; */
    /* justify-content: center; */
    /* position: absolute; */
    /* left: 12.5vw; */
    /* top: 25vw; */
}

#track {
    width: 75vw;
    min-height: 100vh;
    /* display: contents; */
    /* justify-content: center; */
    /* gap: 25vmin; */
    /* padding: 20%; */
    user-select: none; /* -- Prevent image highlighting -- */
}

.movie_card {
    display: flex;
    width: 75vw;
    height: 90vh;
    margin: 5vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* text-align: center; */
    /* padding: 10vh; */
}

/* image not centred */
.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    margin: auto;
    padding: 5%;
    /* object-position: 100% center; */
}

.title {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    padding: 5%;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 100%; */
}

.description {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: left;
    padding: 5%;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 100%; */
}

/* -- YouTube Link Styles -- */

/* body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  } */
