body {
  /* color: white; */
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: max-content;
  scroll-behavior: smooth;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.movie-tile-track {
  display: flex;
  width: max-content; /* Let the container grow with its content */
  height: max-content; /* Let the container grow with its content */
  flex-direction: column;
}

.movie-tile {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-tile img {
  object-fit: cover;
  /* margin: 1rem; */
}
/* Desktop view */
@media screen and (orientation: landscape) {
    .movie-tile img {
        height: 75vmin;
        max-width: 50vmin;
  }
}

/* Mobile view */
@media screen and (orientation: portrait) {
  .movie-tile img{
    height: 75vmax;
    max-width: 50vmax;
  }
}

.movie-tile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100;
  transition: opacity 0.5s ease-in-out;
}

/* Desktop view */
@media screen and (orientation: landscape) {
  .movie-tile-text {
      height: fit-content;
      max-width: 75vmin;
}
}

/* Mobile view */
@media screen and (orientation: portrait) {
.movie-tile-text{
  height: fit-content;
  max-width: 50vmax;
}
}

.movie-tile-text h1{
  color: white;
}

.movie-tile-text p {
  color: white;
  font-size: large;
}