*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: grey;
}

html{
    overscroll-behavior: none;
    display: ;
  }

/* body{
    background-color: black;
} */

/* main{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    padding: 2rem;
  } */

/* .track{
    background-color: whitesmoke;
} */

/* Movie Card */

/* .movie_card {
    width: 60%;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
} */

/* .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    margin: auto;
    padding: 5%;
} */

/* .title {
    color: whitesmoke;
    text-align: center;
    padding: 5%;
} */

/* .description {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: left;
    padding: 5%;
} */

/* Minimap */

.minimap__container{
    position: fixed;
    top: 10px;
    left: 10px;
    min-width: 20px;
    z-index: 100;
  
  }
  
  .minimap__size{
    position: relative;
    z-index: 5;
    border: 2px solid black;
  }
  
  .minimap__viewer{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    z-index: 100;
    border: 1px solid white;
  }
  
  .minimap__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: 0 0;
    border: 1px solid white;
    
  }

/* body {
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    margin: auto;
}

#track {
    width: 75vw;
    min-height: 100vh;
    user-select: none;
}

.movie_card {
    display: flex;
    width: 75vw;
    height: 90vh;
    margin: 5vh;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    margin: auto;
    padding: 5%;
}

.title {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    padding: 5%;
}

.description {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: left;
    padding: 5%;
} */


/* ------------------------------------- STOP HERE -----------------------------------------------------*/


/* -- YouTube Link Styles -- */

/* body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  } */
